torch>=2.1.0
transformers==4.35.2
datasets==2.15.0
accelerate==0.29.3
peft>=0.13.2
trl==0.7.2
gradio>=3.40.1,<=4.21.0
openai==1.55.0
fastchat==0.1.0
rouge-chinese==1.0.3
tiktoken==0.8.0
jieba==0.42.1
nltk==3.9.1
scipy
einops
sentencepiece
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib
fire
